<nav class="navbar navbar-expand-lg navbar-light bg-light py-1 py-lg-3 navbar-page">
  <div class="container-xl">
    <a class="navbar-brand me-lg-6" href="index.html">
      <img src="/assets/images/Logotype.svg" alt="" width="134" height="40" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-between" id="navbarNav">
      <ul class="navbar-nav gap-4 my-6 my-lg-0">
        <li class="nav-item align-self-center">
          <a class="link-gray-600" aria-current="page" href="index.html">首頁</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="link-gray-600" href="plan.html">方案與定價</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="link-gray-600" href="#">案例分享</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="link-gray-600" href="#">常見問答</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="link-gray-600" href="survey-create.html">管理後台</a>
        </li>
      </ul>
      <div class="row py-4 py-lg-0 border-top border-gray-300">
        <div class="col">
          <a href="#" class="btn btn-outline-primary link-primary w-100">登入</a>
        </div>
        <div class="col">
          <a href="#" class="btn btn-primary link-white w-100">註冊</a>
        </div>
      </div>
    </div>
  </div>
</nav>