.case-rounded {
  > .rounded-circle {
    aspect-ratio: 1/1;
    margin-bottom: 16px;
    width: 50%;
    @include pc {
      width: 100%;
    }
    &:hover {
      img {
        width: 70%;
      }
    }
  }
  img {
    width: 60%;
    transition: width 0.38s ease;
    cursor: pointer;
  }
  .f-column-cc {
    cursor: pointer;
  }
  h6 {
    margin-bottom: 8px;
    color: #6c757d;
  }
  h2 {
    color: #343a40;
  }
  .f-column-cc:hover {
    h2,
    h6 {
      color: #212529;
    }
  }
}
