<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Just Survey問卷服務網</title>
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
</head>

<body>
  <%- include("layout/navbar.ejs") %>



    <div class="bg-light">
      <div class="container-xl py-6">
        <div class="text-center mb-6">
          <h4 class="mb-3 fs-md-1">眾多品牌信賴之選，帶來卓越結果</h4>
          <p class="text-body-s text-gray-600 contact-subtitle">
            無論是教育、科技，還是零售和醫療，我們的問卷系統為客戶提供了量身打造的數據解決方案。<br>讓我們的技術成為你業務成長的推動力！
          </p>
        </div>
      </div>
    </div>



    <div class="container-xl py-6">
      <div class="row mb-6 justify-content-center">
        <div class="col-2 case-rounded f-column-cc">
          <div class="w-100 rounded-pill flex-cc bg-primary-200">
            <img src="/assets/images/pin-wei.png" alt="" class="img-fluid">
          </div>
          <h6>米其林三星餐廳</h6>
          <h2>品味樓</h2>
        </div>
        <div class="col-2 case-rounded f-column-cc">
          <div class="w-100 rounded-pill flex-cc bg-primary-300">
            <img src="/assets/images/design.png" alt="logo">
          </div>
          <h6>創意設計專家</h6>
          <h2>創新設計</h2>
        </div>
        <div class="col-2 case-rounded f-column-cc">
          <div class="w-100 rounded-pill flex-cc bg-primary-200">
            <img src="/assets/images/consultant.png" alt="logo">
          </div>
          <h6>精準數據洞察</h6>
          <h2>智析顧問</h2>
        </div>
      </div>
      <div class="row mb-6 justify-content-center">
        <div class="col-2 case-rounded f-column-cc">
          <div class="w-100 rounded-pill flex-cc bg-primary-200">
            <img src="/assets/images/Hong_Yi_Health_Center_Logo_Transparent.png" alt="logo">
          </div>
          <h6>專業健康管理</h6>
          <h2>宏毅健康</h2>
        </div>
        <div class="col-2 case-rounded f-column-cc">
          <div class="w-100 rounded-pill flex-cc bg-secondary-200">
            <img src="/assets/images/Happy_Travel_Logo_Transparent.png" alt="logo">
          </div>
          <h6>客製旅行專家</h6>
          <h2>幸福旅遊</h2>
        </div>
        <div class="col-2 case-rounded f-column-cc">
          <div class="w-100 rounded-pill flex-cc bg-primary-300">
            <img src="/assets/images/logistics.png" alt="logo">
          </div>
          <h6>高效物流服務</h6>
          <h2>優越物流</h2>
        </div>
        <div class="col-2 case-rounded f-column-cc">
          <div class="w-100 rounded-pill flex-cc bg-secondary-200">
            <img src="/assets/images/education.png" alt="logo">
          </div>
          <h6>創新教育領航</h6>
          <h2>智創教育</h2>
        </div>
      </div>
    </div>
    <%- include("layout/footer.ejs") %>
      <script type="module" src="../main.js"></script>
</body>

</html>