<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Just Survey問卷服務網</title>
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
</head>

<body>
  <%- include("layout/navbar.ejs") %>
    <div class="banner-bg">
      <div class="container-xl banner flex-cc h-100">
        <div class="row">
          <div class="col-md-5 text-center text-md-start d-md-flex flex-column justify-content-center">
            <h1 class="fs-2">立即建立<br>你的第一個問卷<span class="d-none d-md-inline">！</span>
            </h1>
            <a href="register.html" class="banner__btn btn btn-primary link-white py-md-2 fs-md-5">免費註冊</a>
          </div>
          <div class="col-md-7">
            <img src="../assets/images/banner_illustration.png" alt="banner" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="bg-light">
      <div class="container-xl feature py-6 py-md-9">
        <div class="row">
          <div
            class="col-md-6 d-flex flex-column align-items-center align-items-md-start justify-content-md-center mb-md-9">
            <img src="../assets/images/01.svg" alt="01" class="feature__number mb-3">
            <h4 class="mb-3 fs-md-1 ">輕鬆製作專業問卷<span class="d-none d-lg-inline">，</span><br class="d-lg-none">提升回饋品質</h4>
            <p class="text-body-s mb-4 mb-md-6 fs-md-5">無需技術背景，人人都能輕鬆上手</p>
            <a href="#" class="link-primary py-1 mb-1 d-flex align-items-center fs-md-5">了解更多<span
                class="material-symbols-outlined ms-1">
                arrow_forward
              </span></a>
          </div>
          <div class="col-md-6 mb-md-9">
            <img src="../assets/images/feature_1.png" alt="feature" class="img-fluid mb-6">
          </div>
          <div class="d-block d-md-flex flex-row-reverse p-lg-0">
            <div
              class="col-md-6 d-flex flex-column align-items-center align-items-md-start justify-content-md-center mb-md-9">
              <img src="../assets/images/02.svg" alt="02" class="feature__number mb-3">
              <h4 class="mb-3 fs-md-1 ">從問題到數據分析<span class="d-none d-lg-inline">，</span><br class="d-lg-none">問卷製作新體驗
              </h4>
              <p class="text-body-s mb-4 mb-md-6 fs-md-5">自動生成報告，幫助你迅速了解受訪者回饋</p>
              <a href="#" class="link-primary py-1 mb-1 d-flex align-items-center fs-md-5">了解更多<span
                  class="material-symbols-outlined ms-1">
                  arrow_forward
                </span></a>
            </div>
            <div class="col-md-6 mb-md-9">
              <img src="../assets/images/feature_2.png" alt="feature" class="img-fluid mb-6">
            </div>
          </div>
          <div
            class="col-md-6 d-flex flex-column align-items-center align-items-md-start justify-content-md-center mb-md-9">
            <img src="../assets/images/03.svg" alt="03" class="feature__number mb-3">
            <h4 class="mb-3 fs-md-1 ">跨平台完美支援</h4>
            <p class="text-body-s mb-4 mb-md-6 fs-md-5">手機、平板、電腦皆可使用，隨時隨地完成問卷</p>
            <a href="#" class="link-primary py-1 mb-1 d-flex align-items-center fs-md-5">了解更多<span
                class="material-symbols-outlined ms-1">
                arrow_forward
              </span></a>
          </div>
          <div class="col-md-6 mb-md-9">
            <img src="../assets/images/feature_3.png" alt="feature" class="img-fluid mb-6">
          </div>
        </div>
      </div>
    </div>
    <div class="bg-dark py-6">
      <div class="container-xl">
        <h4 class="text-white text-center mb-6 mb-md-9">選擇適合你的方案<br>讓我們幫助你<br class="d-md-none">輕鬆實現調查目標</h4>
        <div class="row">
          <div class="secondary col-md-4 mb-4 mb-md-0">
            <div class="solutions-card bg-white">
              <div class="title">
                <h4 class="fs-md-3">基礎版</h4>
                <h6>Basic Plan</h6>
              </div>
              <img src="../assets/images/solution_basic.svg" alt="solutions" class="img-fluid">
              <div class="text-group">
                <h4>$0</h4>
                <h6>完全免費</h6>
              </div>
              <a href="plan.html" class="btn py-md-2 btn-secondary link-white fs-md-5">深入了解</a>
            </div>
          </div>
          <div class="primary col-md-4 mb-4 mb-md-0">
            <div class="solutions-card bg-white">
              <div class="title">
                <h4 class="fs-md-3">擴展版</h4>
                <h6>Growth Plan</h6>
              </div>
              <img src="../assets/images/solution_growth.svg" alt="solutions" class="img-fluid">
              <div class="text-group">
                <h4>$6,200</h4>
                <h6>/ 年</h6>
              </div>
              <a href="plan.html" class="btn py-md-2 btn-primary link-white fs-md-5">深入了解</a>
            </div>
          </div>
          <div class="purple col-md-4">
            <div class="solutions-card bg-white">
              <div class="title">
                <h4 class="fs-md-3">菁英版</h4>
                <h6>Elite Plan</h6>
              </div>
              <img src="../assets/images/solution_elite.svg" alt="solutions" class="img-fluid">
              <div class="text-group">
                <h4>$12,200</h4>
                <h6>/ 年</h6>
              </div>
              <a href="plan.html" class="btn py-md-2 btn-purple-500 link-white fs-md-5">深入了解</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-bg py-6 py-md-9 position-relative">
      <div class="container-xl">
        <h4 class="text-center mb-6 mb-md-9 fs-md-1">為什麼選擇 Just Survey</h4>
        <ul class="nav nav-pills mb-4 mb-md-6 gap-4 justify-content-between" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active rounded-1" id="pills-all-tab" data-bs-toggle="pill"
              data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all"
              aria-selected="true">全方位</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-1" id="pills-customized-tab" data-bs-toggle="pill"
              data-bs-target="#pills-customized" type="button" role="tab" aria-controls="pills-customized"
              aria-selected="false">高度客製</button>
          </li>
          <li class="nav-item rounded-1" role="presentation">
            <button class="nav-link" id="pills-safe-tab" data-bs-toggle="pill" data-bs-target="#pills-safe"
              type="button" role="tab" aria-controls="pills-safe" aria-selected="false">安全可靠</button>
          </li>
        </ul>
        <div class="tab-content py-md-6" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
            <div class="row">
              <div class="col-md-7 mb-4">
                <img src="../assets/images/professional_1.png" alt="professional_1" class="img-fluid">
              </div>
              <div class="col-md-5 d-md-flex align-items-center">
                <div class="bg-gray-200 rounded-1 p-3 p-md-4">
                  <h5 class="mb-3 fs-md-2">全方位問卷設計 與 數據分析</h5>
                  <p class="text-gray-600 mb-3 mt-md-3">
                    我們的平台功能強大且易於使用，無需任何技術背景即可輕鬆創建專業的問卷。我們提供多樣化的模板和自定義選項，幫助你高效設計出符合需求的問卷。</p>
                  <p class="text-gray-600 mt-md-3">
                    收集數據後，我們的先進數據分析工具讓你深入挖掘回覆中的價值，提供統計分析、圖表生成和趨勢預測，助你做出明智的決策。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-customized" role="tabpanel" aria-labelledby="pills-customized-tab">
            <div class="row">
              <div class="col-md-7 mb-4">
                <img src="../assets/images/professional_2.png" alt="professional_2" class="img-fluid">
              </div>
              <div class="col-md-5 d-md-flex align-items-center">
                <div class="bg-gray-200 rounded-1 p-3 p-md-4">
                  <h5 class="mb-3 fs-md-2">用戶友好 與 高度客製</h5>
                  <p class="text-gray-600 mb-3 mt-md-3">
                    我們的平台設計直觀，操作簡便，即使是首次使用的用戶也能輕鬆上手。</p>
                  <p class="text-gray-600 mt-md-3">
                    平台支持高度定製化，無論是問卷的外觀、問題類型，還是分析報告的格式和內容，都能滿足你的個性化需求，讓你專注於問卷內容和數據分析。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-safe" role="tabpanel" aria-labelledby="pills-safe-tab">
            <div class="row">
              <div class="col-md-7 mb-4">
                <img src="../assets/images/professional_3.png" alt="professional_3" class="img-fluid">
              </div>
              <div class="col-md-5 d-md-flex align-items-center">
                <div class="bg-gray-200 rounded-1 p-3 p-md-4">
                  <h5 class="mb-3 fs-md-2">安全可靠 與 專業支持</h5>
                  <p class="text-gray-600 mb-3 mt-md-3">
                    數據安全是我們的首要考量，我們採用最先進的安全技術，確保你的數據在傳輸和存儲過程中始終受到保護，並嚴格遵循隱私保護規範。</p>
                  <p class="text-gray-600 mt-md-3">
                    我們的專業客戶服務團隊隨時為你提供技術支持和使用指導，確保你的使用體驗順暢無憂。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feedback-bg bg-dark py-6 py-md-9">
      <h4 class="mb-6 mb-md-9 text-white text-center fs-md-1">客戶見證</h4>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-card rounded-1">
              <img src="../assets/images/avatar_1.jpg" alt="avatar" class="rounded-1">
              <div class="swiper-card__text">
                <h6 class="fs-lg-5">這個平台讓我們的調查工作變得前所未有的簡單，結果分析也非常方便。</h6>
                <div class="d-flex align-items-center gap-3 mt-1 mt-lg-6">
                  <span class="text-border"></span>
                  <p class="text-body-s text-gray-600">品味樓・行銷經理 王鑫</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-card rounded-1">
              <img src="../assets/images/avatar_2.jpg" alt="avatar" class="rounded-1">
              <div class="swiper-card__text">
                <h6 class="fs-lg-5">設計問卷從來沒有這麼快速和有趣，推薦給所有需要進行市場調查的人。</h6>
                <div class="d-flex align-items-center gap-3 mt-1 mt-lg-6">
                  <span class="text-border"></span>
                  <p class="text-body-s text-gray-600">創新設計・產品經理 Amy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-card rounded-1">
              <img src="../assets/images/avatar_3.jpg" alt="avatar" class="rounded-1">
              <div class="swiper-card__text">
                <h6 class="fs-lg-5">因為有了這個平台，數據分析變得前所未有的簡單。大力推薦！
                </h6>
                <div class="d-flex align-items-center gap-3 mt-1 mt-lg-6">
                  <span class="text-border"></span>
                  <p class="text-body-s text-gray-600">智析顧問・市場分析師 李明</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-card rounded-1">
              <img src="../assets/images/avatar_2.jpg" alt="avatar" class="rounded-1">
              <div class="swiper-card__text">
                <h6 class="fs-lg-5">設計問卷從來沒有這麼快速和有趣，推薦給所有需要進行市場調查的人。</h6>
                <div class="d-flex align-items-center gap-3 mt-1 mt-lg-6">
                  <span class="text-border"></span>
                  <p class="text-body-s text-gray-600">創新設計・產品經理 Amy</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-controller d-none d-lg-flex">
        <div class="prev-btn flex-cc">
          <i class="bi bi-caret-left-fill"></i>
        </div>
        <div class="custom-swiper-pagination"></div>
        <div class="next-btn flex-cc">
          <i class="bi bi-caret-right-fill"></i>
        </div>
      </div>
    </div>
    <div class="bg-light" id="indexContact">
      <div class="container-xl pt-6">
        <div class="text-center mb-6">
          <h4 class="mb-3 fs-md-1">與我們聯絡</h4>
          <p class="text-body-s text-gray-600 contact-subtitle">
            我們隨時準備好為你提供幫助和支持<br>如果你有任何問題、需要更多資訊或尋求技術支持<span class="d-none d-md-inline">，</span><br
              class="d-md-none">請隨時與我們聯絡
          </p>
        </div>
        <div class="row justify-content-lg-start justify-content-md-between">
          <div class="col-md-5 col-lg-4 mb-6 d-md-flex flex-column justify-content-center offset-lg-1">
            <ul class="ps-0 mb-md-7">
              <li class="d-flex align-items-center mb-md-3">
                <h6>客服專線&ensp;｜</h6>
                <a href="tel:0800123456" class="text-body ms-1">0800-123-456</a>
              </li>
              <li class="d-flex align-items-center">
                <h6>電子郵件&ensp;｜</h6>
                <a href="mailto:support@justsurvey.com" class="text-body ms-1">support@justsurvey.com</a>
              </li>
            </ul>
            <div class="d-none d-md-flex flex-column">
              <p class="text-gray-600 mb-md-2">沒辦法解決你的問題嗎？</p>
              <a href="#" class="link-primary d-flex align-items-center">
                聯絡表單
                <span class="material-symbols-outlined ms-1">
                  arrow_forward
                </span>
              </a>
            </div>
          </div>
          <div class="col-md-6 mb-6">
            <img src="../assets/images/customer_service.png" alt="service" class="img-fluid">
          </div>
          <div class="d-md-none d-flex flex-column align-items-center mb-6">
            <p class="text-gray-600">沒辦法解決你的問題嗎？</p>
            <a href="#" class="link-primary d-flex align-items-center">
              聯絡表單
              <span class="material-symbols-outlined ms-1">
                arrow_forward
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="trail-bg">
      <div class="container-xl">
        <div class="row pt-md-8 justify-content-md-center">
          <div class="col-md-10 my-4">
            <div class="trial f-column-cc bg-secondary rounded-1 position-relative">
              <h4 class="fs-md-1 mb-3 text-white">免費試用無風險</h4>
              <h6 class="fs-md-4 mb-3 mb-md-5 text-white">輕鬆體驗，放心使用！</h6>
              <a href="register.html" class="btn btn-primary py-md-2 mt-3 mt-md-0 link-white">立即註冊</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("layout/footer.ejs") %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>