<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Just Survey問卷服務網</title>
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
</head>

<body>
  <%- include("layout/navbar.ejs") %>
    <div class="bg-dark py-6">
      <div class="container-xl">
        <h5 class="text-white text-center lh-base">若您找不到所需的解答<br>歡迎<a href="index.html#indexContact">聯繫</a>我們的客服團隊<br
            class="d-md-none"><span class="d-none d-md-inline">，</span>我們將竭誠為您服務！
        </h5>
      </div>
    </div>
    <div class="container-xl py-4">
      <div class="collapse-section">
        <div class="accordion accordion-flush" id="qaAccordion">
          <!-- section1 -->
          <h4 class="fs-lg-3 text-primary-600 section-title">問卷設計與建立</h4>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneA">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneA" aria-expanded="false" aria-controls="collapseOneA">
                如何建立一個新問卷？
              </button>
            </h2>
            <div id="collapseOneA" class="accordion-collapse collapse" aria-labelledby="headingOneA"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>登入後，點擊「建立問卷」按鈕，選擇空白問卷或使用問卷模板，然後開始新增問題。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneB">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneB" aria-expanded="false" aria-controls="collapseOneB">
                我可以使用哪些類型的問題？
              </button>
            </h2>
            <div id="collapseOneB" class="accordion-collapse collapse" aria-labelledby="headingOneB"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>我們支援多種問題類型，包括單選、多選、填空、矩陣題、評分題和滑桿題等，具體類型須依您的訂閱方案而定</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneC">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneC" aria-expanded="false" aria-controls="collapseOneC">
                問卷模板如何使用？
              </button>
            </h2>
            <div id="collapseOneC" class="accordion-collapse collapse" aria-labelledby="headingOneC"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>點擊「模板庫」，選擇合適的模板進行編輯，修改問題內容以適應你的需求。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneD">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneD" aria-expanded="false" aria-controls="collapseOneD">
                如何新增邏輯條件到問卷？
              </button>
            </h2>
            <div id="collapseOneD" class="accordion-collapse collapse" aria-labelledby="headingOneD"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在編輯問卷時，選擇問題，點擊「新增邏輯」，設置條件，使受訪者根據答案進入不同問題。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneE">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneE" aria-expanded="false" aria-controls="collapseOneE">
                我可以自定義問卷的設計風格嗎？
              </button>
            </h2>
            <div id="collapseOneE" class="accordion-collapse collapse" aria-labelledby="headingOneE"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p> 可以，在「設計」選項中，你可以修改問卷的背景、顏色、字體以及Logo等，使其完全符合你的品牌形象。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneF">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneF" aria-expanded="false" aria-controls="collapseOneF">
                如何保存並退出問卷編輯？
              </button>
            </h2>
            <div id="collapseOneF" class="accordion-collapse collapse" aria-labelledby="headingOneF"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>編輯過程會自動保存，你也可以點擊「保存並退出」按鈕，隨時回來繼續編輯。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneG">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneG" aria-expanded="false" aria-controls="collapseOneG">
                如何設置問卷的截止日期？
              </button>
            </h2>
            <div id="collapseOneG" class="accordion-collapse collapse" aria-labelledby="headingOneG"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在發布問卷之前，選擇「發布設置」中的「截止日期」，然後設置具體的日期和時間。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneH">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneH" aria-expanded="false" aria-controls="collapseOneH">
                如何預覽問卷的最終效果？
              </button>
            </h2>
            <div id="collapseOneH" class="accordion-collapse collapse" aria-labelledby="headingOneH"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>點擊「預覽」按鈕，你將看到受訪者填寫問卷的實際效果，並確保問卷顯示無誤。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneI">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneI" aria-expanded="false" aria-controls="collapseOneI">
                如何匯入和匯出問題模板？
              </button>
            </h2>
            <div id="collapseOneI" class="accordion-collapse collapse" aria-labelledby="headingOneI"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p> 在「問題庫」中，你可以匯入外部的問題模板，或將你設計的問卷問題匯出以便其他項目使用。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneJ">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOneJ" aria-expanded="false" aria-controls="collapseOneJ">
                如何復制或修改現有問卷？
              </button>
            </h2>
            <div id="collapseOneJ" class="accordion-collapse collapse" aria-labelledby="headingOneJ"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「問卷管理」中，選擇你要復制的問卷，點擊「復制」或「修改」，然後進行編輯。</p>
              </div>
            </div>
          </div>
          <!-- section2 -->
          <h4 class="fs-lg-3 text-primary-600 section-title">回覆管理與收集</h4>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoA">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoA" aria-expanded="false" aria-controls="collapseTwoA">
                如何查看回覆數據？
              </button>
            </h2>
            <div id="collapseTwoA" class="accordion-collapse collapse" aria-labelledby="headingTwoA"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>進入「回覆管理」，你可以查看所有回覆的詳細數據，並按問題篩選結果。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoB">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoB" aria-expanded="false" aria-controls="collapseTwoB">
                如何匯出回覆數據？
              </button>
            </h2>
            <div id="collapseTwoB" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>點擊「匯出」，選擇匯出格式（如Excel、CSV、PDF），下載並保存本地。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoC">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoC" aria-expanded="false" aria-controls="collapseTwoC">
                如何篩選特定受訪者的回覆？
              </button>
            </h2>
            <div id="collapseTwoC" class="accordion-collapse collapse" aria-labelledby="headingTwoC"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>使用「篩選」功能，可以按特定條件（如回答、時間、設備等）篩選受訪者的回覆。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoD">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoD" aria-expanded="false" aria-controls="collapseTwoD">
                我可以允許受訪者匿名回答嗎？
              </button>
            </h2>
            <div id="collapseTwoD" class="accordion-collapse collapse" aria-labelledby="headingTwoD"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>可以，在問卷設置中啟用「匿名模式」，這樣受訪者不需要提供個人信息。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoE">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoE" aria-expanded="false" aria-controls="collapseTwoE">
                如何設置自動提醒未完成回覆的受訪者？
              </button>
            </h2>
            <div id="collapseTwoE" class="accordion-collapse collapse" aria-labelledby="headingTwoE"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p> 在「提醒設置」中，可以設置自動提醒，系統會定期發送郵件給未完成問卷的受訪者。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoF">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoF" aria-expanded="false" aria-controls="collapseTwoF">
                問卷完成後是否可以編輯回覆？
              </button>
            </h2>
            <div id="collapseTwoF" class="accordion-collapse collapse" aria-labelledby="headingTwoF"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>完成的回覆無法直接修改，但你可以選擇開啟「二次填寫」模式，允許受訪者更新他們的回答。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoG">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoG" aria-expanded="false" aria-controls="collapseTwoG">
                如何限制每個受訪者的回覆次數？
              </button>
            </h2>
            <div id="collapseTwoG" class="accordion-collapse collapse" aria-labelledby="headingTwoG"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在問卷設置中，啟用「一次回覆限制」，防止同一受訪者多次提交回覆。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoH">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoH" aria-expanded="false" aria-controls="collapseTwoH">
                如何收集受訪者的聯繫方式？
              </button>
            </h2>
            <div id="collapseTwoH" class="accordion-collapse collapse" aria-labelledby="headingTwoH"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在問卷中添加「聯繫信息」問題，如姓名、電話、郵件等，用於後續聯繫或市場分析。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoI">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoI" aria-expanded="false" aria-controls="collapseTwoI">
                如何保護回覆數據的安全性？
              </button>
            </h2>
            <div id="collapseTwoI" class="accordion-collapse collapse" aria-labelledby="headingTwoI"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>我們採用數據加密和隱私保護措施，確保回覆數據安全，且只有你能訪問。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoJ">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwoJ" aria-expanded="false" aria-controls="collapseTwoJ">
                問卷完成後如何顯示感謝訊息？
              </button>
            </h2>
            <div id="collapseTwoJ" class="accordion-collapse collapse" aria-labelledby="headingTwoJ"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「設置」中，可以自定義提交後的感謝訊息，並顯示給完成問卷的受訪者。</p>
              </div>
            </div>
          </div>
          <!-- section3 -->
          <h4 class="fs-lg-3 text-primary-600 section-title">數據分析與報告</h4>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeA">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeA" aria-expanded="false" aria-controls="collapseThreeA">
                我可以生成什麼類型的報告？
              </button>
            </h2>
            <div id="collapseThreeA" class="accordion-collapse collapse" aria-labelledby="headingThreeA"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>你可以生成數據摘要報告、交叉分析報告、趨勢圖、數據可視化圖表等。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeB">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeB" aria-expanded="false" aria-controls="collapseThreeB">
                如何自定義報告格式？
              </button>
            </h2>
            <div id="collapseThreeB" class="accordion-collapse collapse" aria-labelledby="headingThreeB"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在報告生成頁面，你可以選擇自定義報告的內容、圖表類型、顏色以及報告封面等。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeC">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeC" aria-expanded="false" aria-controls="collapseThreeC">
                如何進行交叉分析？
              </button>
            </h2>
            <div id="collapseThreeC" class="accordion-collapse collapse" aria-labelledby="headingThreeC"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「數據分析」中，選擇「交叉分析」，選擇兩個或多個問題進行比較，查看不同群體的回應差異。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeD">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeD" aria-expanded="false" aria-controls="collapseThreeD">
                我可以使用哪些圖表類型？
              </button>
            </h2>
            <div id="collapseThreeD" class="accordion-collapse collapse" aria-labelledby="headingThreeD"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>我們提供多種圖表類型，包括柱狀圖、折線圖、圓餅圖、散點圖和雷達圖等。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeE">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeE" aria-expanded="false" aria-controls="collapseThreeE">
                如何下載或分享分析報告？
              </button>
            </h2>
            <div id="collapseThreeE" class="accordion-collapse collapse" aria-labelledby="headingThreeE"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>點擊「下載」按鈕，可以將報告保存為PDF或Excel格式，或通過鏈接分享報告。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeF">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeF" aria-expanded="false" aria-controls="collapseThreeF">
                如何設定報告自動生成？
              </button>
            </h2>
            <div id="collapseThreeF" class="accordion-collapse collapse" aria-labelledby="headingThreeF"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在報告設置中，你可以選擇自動生成報告的週期（如每天、每周），並自動發送至你的郵箱。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeG">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeG" aria-expanded="false" aria-controls="collapseThreeG">
                如何從數據中識別趨勢？
              </button>
            </h2>
            <div id="collapseThreeG" class="accordion-collapse collapse" aria-labelledby="headingThreeG"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>使用「趨勢分析」功能，系統會自動生成趨勢圖，幫助你識別數據中的長期變化。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeH">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeH" aria-expanded="false" aria-controls="collapseThreeH">
                我可以對數據進行篩選嗎？
              </button>
            </h2>
            <div id="collapseThreeH" class="accordion-collapse collapse" aria-labelledby="headingThreeH"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>可以，使用篩選工具按時間、受訪者群體或特定問題進行數據篩選，以更精確地查看結果。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeI">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeI" aria-expanded="false" aria-controls="collapseThreeI">
                如何比較多個問卷的結果？
              </button>
            </h2>
            <div id="collapseThreeI" class="accordion-collapse collapse" aria-labelledby="headingThreeI"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「報告比較」中，選擇多個問卷或不同版本的問卷進行數據比較，查看趨勢和變化。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeJ">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreeJ" aria-expanded="false" aria-controls="collapseThreeJ">
                如何保存報告模板以後使用？
              </button>
            </h2>
            <div id="collapseThreeJ" class="accordion-collapse collapse" aria-labelledby="headingThreeJ"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>你可以在報告設置中保存自定義模板，下次分析時直接使用相同的模板格式。</p>
              </div>
            </div>
          </div>
          <!-- section4 -->
          <h4 class="fs-lg-3 text-primary-600 section-title">帳戶與權限管理</h4>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourA">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourA" aria-expanded="false" aria-controls="collapseFourA">
                如何修改我的帳戶資料？
              </button>
            </h2>
            <div id="collapseFourA" class="accordion-collapse collapse" aria-labelledby="headingFourA"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>進入「帳戶設置」，可以修改你的聯繫方式、密碼以及其他個人資料。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourB">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourB" aria-expanded="false" aria-controls="collapseFourB">
                我忘記了密碼，如何重設？
              </button>
            </h2>
            <div id="collapseFourB" class="accordion-collapse collapse" aria-labelledby="headingFourB"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>點擊「忘記密碼」，輸入註冊郵箱，我們將發送密碼重置鏈接到你的郵箱。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourC">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourC" aria-expanded="false" aria-controls="collapseFourC">
                如何添加團隊成員？
              </button>
            </h2>
            <div id="collapseFourC" class="accordion-collapse collapse" aria-labelledby="headingFourC"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「團隊管理」中，點擊「添加成員」，輸入對方的郵箱，並設置其角色和權限。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourD">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourD" aria-expanded="false" aria-controls="collapseFourD">
                團隊成員有哪些權限角色？
              </button>
            </h2>
            <div id="collapseFourD" class="accordion-collapse collapse" aria-labelledby="headingFourD"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>我們提供「管理員」、「編輯」、「查看者」等角色，每個角色有不同的訪問權限。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourE">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourE" aria-expanded="false" aria-controls="collapseFourE">
                如何刪除或禁用團隊成員？
              </button>
            </h2>
            <div id="collapseFourE" class="accordion-collapse collapse" aria-labelledby="headingFourE"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「團隊管理」中，點擊成員的名稱，選擇「刪除」或「禁用」來管理成員的訪問權限。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourF">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourF" aria-expanded="false" aria-controls="collapseFourF">
                我可以在多個設備上登錄嗎？
              </button>
            </h2>
            <div id="collapseFourF" class="accordion-collapse collapse" aria-labelledby="headingFourF"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>是的，你可以在多台設備上同時登錄帳戶，並隨時同步問卷和數據。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourG">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourG" aria-expanded="false" aria-controls="collapseFourG">
                如何設置兩步驗證保護帳戶？
              </button>
            </h2>
            <div id="collapseFourG" class="accordion-collapse collapse" aria-labelledby="headingFourG"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>進入「安全設置」，啟用兩步驗證，每次登錄時都需要輸入驗證碼以提高帳戶安全性。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourH">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourH" aria-expanded="false" aria-controls="collapseFourH">
                如何更改帳單和支付資訊？
              </button>
            </h2>
            <div id="collapseFourH" class="accordion-collapse collapse" aria-labelledby="headingFourH"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「帳戶設置」的「支付信息」中，可以更新信用卡信息或查看帳單記錄。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourI">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourI" aria-expanded="false" aria-controls="collapseFourI">
                如何提升我的帳戶使用限制？
              </button>
            </h2>
            <div id="collapseFourI" class="accordion-collapse collapse" aria-labelledby="headingFourI"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>你可以升級方案，以增加問卷數量、受訪者數量或數據分析的高級功能。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourJ">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourJ" aria-expanded="false" aria-controls="collapseFourJ">
                如何刪除我的帳戶？
              </button>
            </h2>
            <div id="collapseFourJ" class="accordion-collapse collapse" aria-labelledby="headingFourJ"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「帳戶設置」中，點擊「刪除帳戶」，系統會要求確認，並永久刪除你的數據。</p>
              </div>
            </div>
          </div>
          <!-- section5 -->
          <h4 class="fs-lg-3 text-primary-600 section-title">訂閱與收費</h4>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveA">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveA" aria-expanded="false" aria-controls="collapseFiveA">
                我們有哪些訂閱方案？
              </button>
            </h2>
            <div id="collapseFiveA" class="accordion-collapse collapse" aria-labelledby="headingFiveA"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>我們提供基礎版、進階版和專業版方案，分別適合不同的業務需求。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveB">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveB" aria-expanded="false" aria-controls="collapseFiveB">
                如何更改我的訂閱方案？
              </button>
            </h2>
            <div id="collapseFiveB" class="accordion-collapse collapse" aria-labelledby="headingFiveB"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「帳戶設置」的「訂閱管理」中，你可以升級或降級你的方案，改變使用限制和功能。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveC">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveC" aria-expanded="false" aria-controls="collapseFiveC">
                我可以暫停訂閱嗎？
              </button>
            </h2>
            <div id="collapseFiveC" class="accordion-collapse collapse" aria-labelledby="headingFiveC"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>是的，你可以選擇「暫停訂閱」，系統會保留你的數據，但不會再產生費用，直到你重新啟用訂閱。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveD">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveD" aria-expanded="false" aria-controls="collapseFiveD">
                如何查看我的帳單記錄？
              </button>
            </h2>
            <div id="collapseFiveD" class="accordion-collapse collapse" aria-labelledby="headingFiveD"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>進入「帳戶設置」中的「帳單記錄」，你可以查看每次付款的詳情，包括日期和金額。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveE">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveE" aria-expanded="false" aria-controls="collapseFiveE">
                訂閱是否會自動續訂？
              </button>
            </h2>
            <div id="collapseFiveE" class="accordion-collapse collapse" aria-labelledby="headingFiveE"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>是的，訂閱會自動續訂，除非你手動取消或更改訂閱設置。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveF">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveF" aria-expanded="false" aria-controls="collapseFiveF">
                是否提供退款服務？
              </button>
            </h2>
            <div id="collapseFiveF" class="accordion-collapse collapse" aria-labelledby="headingFiveF"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>我們提供退款政策，你可以在購買後的7天內申請全額退款，具體請參見退款條款。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveG">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveG" aria-expanded="false" aria-controls="collapseFiveG">
                如何使用折扣碼？
              </button>
            </h2>
            <div id="collapseFiveG" class="accordion-collapse collapse" aria-labelledby="headingFiveG"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在結算時，你可以輸入折扣碼，系統會自動應用優惠至你的訂單總額。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveH">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveH" aria-expanded="false" aria-controls="collapseFiveH">
                企業用戶有專屬優惠嗎？
              </button>
            </h2>
            <div id="collapseFiveH" class="accordion-collapse collapse" aria-labelledby="headingFiveH"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>是的，企業用戶可以聯繫我們的銷售團隊以獲取定制方案和專屬優惠。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveI">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveI" aria-expanded="false" aria-controls="collapseFiveI">
                如何更新我的支付資訊？
              </button>
            </h2>
            <div id="collapseFiveI" class="accordion-collapse collapse" aria-labelledby="headingFiveI"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>在「帳戶設置」的「支付信息」中，你可以更新信用卡或支付方式。</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveJ">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFiveJ" aria-expanded="false" aria-controls="collapseFiveJ">
                我會在訂閱到期前收到通知嗎？
              </button>
            </h2>
            <div id="collapseFiveJ" class="accordion-collapse collapse" aria-labelledby="headingFiveJ"
              data-bs-parent="#qaAccordion">
              <div class="accordion-body">
                <p>會的，我們會在訂閱到期前7天通過郵件提醒你，確保你能及時續訂或修改訂閱計劃。</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>











    <%- include("layout/footer.ejs") %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>